//MIXINS
@mixin text($size, $l-height, $weight, $m-top, $m-bottom, $style, $color){
	font-size: $size;
    line-height: $l-height;
    font-weight: $weight;
    margin-top: $m-top;
    margin-bottom: $m-bottom;
    font-style: $style;
    color: $color;
}

 