/*COLORES BACKGROUND*/
.color-bg-white{
    background-color: $primaryColorWhite;
}
.color-bg-grey-drk{
    background-color: $primaryColorGrey;
}

.color-bg-grey-med{
    background-color: $secondaryColorGrey;
}

.color-bg-grey-lgt{
    background-color: $secondaryColorGrey;
}
   
.color-bg-yellow-drk{
    background-color: $primaryColorYellow;
}

.color-bg-yellow-med{
    background-color: $secondaryColorYellow;
}

.color-bg-yellow-lgt{
    background-color: $secondaryColorYellow;
}  