// COLORES TEXTO
.color-txt-white{
    color: $primaryColorWhite;
}
.color-txt-grey-drk{
    color: $primaryColorGrey;
}
.color-txt-grey-med{
    color: $secondaryColorGrey;
}
.color-txt-grey-lgt{
    color: $terciaryColorGrey;
}
.color-head-blue-drk{
    color: $primaryColorBlue;
}
.color-lnk-blue-med{
    color: $secondaryColorBlue;
}
.color-lnk-blue-lgt{
    color: $terciaryColorBlue;
}
.color-call-red-drk{
    color: $primaryColorRed;
}
.color-call-red-med{
    color: $secondaryColorRed;
}
.color-call-red-lgt{
    color: $terciaryColorRed;
} 

//COLORES BACKGROUND
.color-bg-white{
    background-color: $primaryColorWhite;
}
.color-bg-grey-drk{
    background-color: $primaryColorGrey;
}

.color-bg-grey-med{
    background-color: $secondaryColorGrey;
}

.color-bg-grey-lgt{
    background-color: $secondaryColorGrey;
}
   
.color-bg-yellow-drk{
    background-color: $primaryColorYellow;
}

.color-bg-yellow-med{
    background-color: $secondaryColorYellow;
}

.color-bg-yellow-lgt{
    background-color: $secondaryColorYellow;
}  
.color-bg-blue-med{
    background-color: $secondaryColorBlue;
} 
