//TEXT HEADINGS
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.5rrem;
    font-style: 400;
    margin-top: 1.5rrem;
    margin-bottom: 1.5rrem;
    color:$primaryColorGrey;
    text-rendering: optimizeLegibility;
}
p{
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

}
h1{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 200;
@media only screen and #{$brk-narrow}{
    font-size: 3rem;
    line-height: 3.25rem;
    }
}

h2{
    font-size: 3rem;
    line-height:3rem;
    font-weight: 200;
    margin-top: 1.09rem;
    margin-bottom: 0.75rem;
@media only screen and #{$brk-narrow}{
    font-size: 3rem;
    line-height: 3rem;
    }
}
h3{
    font-size: 1.75rem;
    font-weight: 200;
    line-height: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
@media only screen and #{$brk-narrow}{
    font-size: 2.25rem;
    line-height: 2.75rem;
    }
}
h4{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.71rem;
    margin-top: 1.71rem;
    margin-bottom: 1.71rem;
    font-style: italic;

}
h5{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2.1rem;

}
h6{
    font-size: 0.625rem;
    line-height: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 2.6rem;

}
a{font-size: 2.5rem;
    font-weight:200;
    line-height: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

//TEXT STYLES

.title{
    font-size: 6rem;
    line-height: 5.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 200;
@media only screen and #{$brk-narrow}{
    font-size: 6rem;
    line-height: 5.25rem;
    }
}
.txt-anim{
    visibility: hidden;
}
.nota{
    padding:0.667;
}

.txt-centered{
    text-align: center;
}
.text-bold {
    font-weight:400;
}
.text-margin-bottom{
    margin-bottom: 2rem;
}

//TEXT COLUMNS

.columns{
@media only screen and #{$brk-narrow}{
    column-count: 2;
    padding: 2rrem;
    }
}

