// VARIABLES COLOR BACKGROUND
$primaryColorWhite: #ffffff; 
//paleta primaria background
$primaryColorYellow: #ffcc00; 
$primaryColorGrey: #404040;

//paleta secundaria background
$secondaryColorYellow: #ffe580;
$secondaryColorGrey: #808080;

//paleta terciaria background
$terciaryColorYellow: #ffefb3;
$terciaryaryColorGrey: #b3b3b3;
