// VARIABLES COLOR TEXTO
//colores principales texto
$primaryColorGrey: #404040;
$primaryColorBlue: #106389; 
$primaryColorRed: #f83b3f;

//paleta secundaria texto
$secondaryColorGrey: #808080;
$secondaryColorBlue: #1794cf;
$secondaryColorRed: #fb8586;

//paleta terciaria background
$terciaryColorGrey: #b3b3b3;
$terciaryColorBlue: #aadef5;
$terciaryColorRed: #fdcece;